
body {
    font-family: 'Orbitron', sans-serif; 
    color: #ffffff; 
    background-color: rgb(0, 0, 29); 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position:relative;
    font-size: larger;
}

header, footer {
    background-color: rgb(0, 0, 29); 
    color: #ffffff;
    text-align: center;
    position: relative; 
    flex-shrink: 0; 
}

header {
    height: 25vh;
    border-bottom: 5px; solid: rgb(0, 0, 29); 
}

footer {
    height: 5vh;
    border-top: 2px solid rgb(0, 0, 29); 
    margin-top: 2%; 
}

main {
    padding: 2%; 
    flex: 1; 
    position: relative;
    font-size: larger;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li {
    margin: 1.5% 0; 
}

a {
    text-decoration: none; 
    color: #00d4ff; 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

a:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00; 
}

#search-container {
    margin-bottom: 2%;
    display: flex;
    justify-content: center; 
}

#search-bar {
    padding: 1%; 
    border: 2px solid #00d4ff; 
    border-radius: 0.5em; 
    background-color: #003366; 
    color: #ffffff;
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    outline: none; 
    transition: border-color 1s ease;
}

#search-bar:focus {
    border-color: #ffcc00; 
}

header h1 {
    font-family: 'Major Mono Display', sans-serif; 
    font-weight: bold;
    width:100%;
    text-transform: uppercase;
    text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 0px #00d4ff;
    text-align: center;
    margin: 0; 
    padding: 40px; 
    position: absolute; 
    top: 50%;
    transform: translateY(-40%) scaleY(2); 
    font-size: 7rem; 
    white-space: nowrap; 
    overflow: hidden; 
}

h2, h3 {
    font-family: 'Major Mono Display', sans-serif; 
    font-weight: bold;
    font-size:xx-large;
    text-shadow: 0 0 10px #63099c, 0 0 10px #ffffff; 
    margin-bottom: 1%; 
    position: relative; 
    padding-left: 0%; 
}

nav {
    column-count: 2;
    margin-bottom: 10px;
    column-width: 10px;
    column-gap: 2px;
}

.nav-section {
    break-inside: avoid;
    padding-bottom: 10px; 
    padding-top:10px;
}

.nav-section ul {
    list-style-type: none;
    padding: 0;
}

.nav-section li {
    margin-bottom: 5px; 
}
